.CartTable > thead  {
    background-color: aquamarine;

}
.CartTable {
    border-spacing: 0;
}

.CartTable > thead > tr > td {
    padding: 15px 50px 15px 0;
    font-weight: 600;
}

.CartTableItem > td {
    padding-top: 40px;
    padding-right: 30px;
}

.CartTableItem > tr > td > img {
    margin-left: 40px
    
}

.CartTableImg {
    width: 150px;
    border-radius: 10px;
}

.CartTableCounterContainer {
    
  
     
}

.FinalizarTable {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 8px; 
    transition: background-color 0.3s; 
}
